<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Gestão de Mercadorias</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GestaoMercadoriasApp.Presentation.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="/Home/Index">
               Controle de Mercadorias

            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="managementProductsDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Produtos
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="managementProductsDropdown">
                            <li><a class="dropdown-item" href="/Product/Register">Cadastrar</a></li>
                            <li><a class="dropdown-item" href="/Product/Index">Consultar</a></li>
                        </ul>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" href="#" id="managementMovementDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                            Gerenciar Movimentações
                        </a>
                        <div class="dropdown-menu" aria-labelledby="managementMovementDropdown">
                            <a class="dropdown-item" href="/Movement/Register">Cadastrar</a>
                            <a class="dropdown-item" href="/Movement/Index">Consultar</a>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2025 - Desenvolvido por - <strong>Ruan Oliveira</strong>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
